{
  "presets": [
    ["es2015", {
      "modules": false
      }],
    "flow-vue"
  ],
  "plugins": [
    "babel-plugin-espower",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["power-assert"]
    }
  }
}
